.about_john{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom:71px;
  gap: 110px;

  h3{
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;
    margin: 18px 0 40px;
  }

  p{
    margin-bottom: 38px;
  }

  button{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding: 13px 20px;
    background: var(--primary);
    border-radius: 2px;
    border: none;
  }

  img{
    max-width: 248px;
    height: auto;
    min-width: 200px;
  }
}