@import "../../app/styles/mixins";

.about_john{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom:71px;
  gap: 110px;

  @include md(){
    flex-wrap: wrap-reverse;
    gap: 34px;
    text-align: center;
    margin-bottom: 59px;
  }

  h3{
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;
    margin: 18px 0 40px;

    @include sm(){
      font-size: 32px;
      line-height: 125%;
      margin:0  0 21px;
    }
  }

  p{
    margin-bottom: 38px;

    @include sm(){
      margin-bottom: 27px;
    }
  }

  button{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding: 13px 20px;
    background: var(--primary);
    border-radius: 2px;
    border: none;
  }

  img{
    max-width: 248px;
    height: auto;
    min-width: 200px;

    @include md(){
      display: block;
      margin: 0 auto;
    }
  }
}