.form_container {
  max-width: 400px;
  display: block;
  margin: 10% auto;
  padding: 25px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.form_title{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form_group {
  margin-bottom: 20px;

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #c9c9c9;
  }

  .invalid_input{
    border-color: #e1253b;
  }
}

.submit_button {
  background-color: var(--primary);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: auto;

  &:hover {
    background-color: var(--darker_primary);
  }
}

.error_message{
  color: #f11d1d;
}
